/*
font-baloo:Baloo Thambi2,cursive;
font-baloo:Baloo Thambi2,cursive;
font-baloo:Baloo Thambi2,cursive;
blue:003859
blue ice:00A5C4
yellow:FFD289
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

.font-size-12 {
    font-size: 14px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-20 {
    font-size: 20px;
}
.font-rale{
    font-family: 'Raleway',sans-serif;
}
.font-baloo{
    font-family: 'Baloo Thambi 2',cursive;
}
.font-rubik{
    font-family: 'Rubik',sans-serif;
}
.color-primary{
    color: #003859;
}
.color-second{
    color: #00A5C4;
}
.color-yellow{
    color: #FFD289;
}
.color-primary-bg {
    background-color: #003859;
}

.color-second-bg {
    background-color: #00A5C4;
}

.color-yellow-bg {
    background-color: #FFD289;
}
.carousel{
    height: 90vh;
}

/* top sale */
#top-sale .container .owl-carousel .item .product a {
    overflow: hidden;
}

#top-sale .container .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}

#top-sale .container .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}

#top-sale .container .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#top-sale .container .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#top-sale .container .owl-carousel .owl-nav button.owl-prev span,
#top-sale .container .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}

#top-sale .container .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

#top-sale .container .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#top-sale .container .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}


